<footer class="footer">
    <div class="container">
        <br><br>
        <div class="content has-text-centered">
            <p><strong>LogBot v2</strong> created by <a
                        href="https://www.shaunoneill.com"><strong>XeliteXirish!</strong></a> Running smoothly using
                <strong>NodeJS</strong> and <strong>Discord.JS</strong>!</p>
            <br>
            <p>
                <a class="icon is-medium" href="https://discord.gg/VeHauH5"><img src="/img/discord.png"></img></a>
                <a class="icon is-medium" href="https://www.github.com/XeliteXirish"><i class="fa fa-github"></i></a>
                <a class="icon is-medium" href="https://status.shaunoneill.com"><i class="fa fa-check"></i></a>
            </p>
        </div>
    </div>
</footer>